<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <base href="/"/>
    <title>glassPrism</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand:400,700,300"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap-social/bootstrap-social.css"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <script src="/vendor.js"></script>
  </head>
  <body ng-app="glassPrism">
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.js"></script>
    <script src="/main.js"></script>
    <navbar></navbar>
    <div id="main" ui-view></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
