html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    base(href='/')
    title=title
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Quicksand:400,700,300")
    link(rel='stylesheet', type='text/css', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/style.css')
    script(src='/vendor.js')
  body(ng-app='glassPrism')
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.js')
    script(src='/main.js')
    navbar
    #main(ui-view='')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
