html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    base(href='/')
    title=title
    link(rel='stylesheet', type='text/css', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/style.css')
    script(src='/lodash/index.js')
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-route/angular-route.js')
    script(src='/angular-ui-router/release/angular-ui-router.js')
    script(src='/angular-bootstrap/ui-bootstrap.js')
    script(src='/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/main.js')
  body(ng-app='forAdrian')
    navbar
    #main(ui-view='')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
