// Breakpoint Vals
$phone-max: 767px;
$tablet-min: 768px;
$tablet-max: 991px;
$laptop-min: 992px;

// Font weights
$light: 100;
$normal: 400;
$bold: 600;

// Colors
$color-nav: grey;
$color-nav-background: #fafafa;
$color-background: #fdfdfd;
$color-text: grey;
$goofy-yellow: #f8e813;
$goofy-purple: rgb(110, 48, 212);

// Misc
$navbar-height: 55px;

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300; //light quicksand
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: $color-background;
    color: $color-text;
}

ol,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

.btn:focus {
    outline: 0;
}

#main {
    margin-top: $navbar-height;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.pledge-form {
    position: absolute;
    z-index: 10;
}

//Turn off date/number form spinners
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// input:-webkit-autofill,
// textarea:-webkit-autofill,
// select:-webkit-autofill {
//     background-color: white !important;
//     color: initial !important;
//     -webkit-box-shadow: 0 0 0 1000px white inset !important;
//     box-shadow: 0 0 0 1000px white inset !important;
// }

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Handle vendor property prefixes
@mixin vend($prop, $val) {
    -webkit-#{$prop}: $val;
    -moz-#{$prop}: $val;
    -ms-#{$prop}: $val;
    -o-#{$prop}: $val;
    #{$prop}: $val;
}

// Handle vendor value prefixes
@mixin vendVal($prop, $val) {
    #{$prop}: -webkit-#{$val};
    #{$prop}: -moz-#{$val};
    #{$prop}: -ms-#{$val};
    #{$prop}: -o-#{$val};
    #{$prop}: #{$val};
}

// Do text-shadow (not used at present)
@mixin text-trace($color, $px) {
    text-shadow: -$px #{-$px} 0 $color, $px #{-$px} 0 $color, -$px $px 0 $color, $px $px 0 $color;
}

// Add Square Root function
@function sqrt($r) {
    $x0: 1;
    $x1: $x0;
    
    @for $i from 1 through 10 {
        $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
        $x0: $x1;
    }
    @return $x1;
}

// Add function to strip the units from a variable
@function stripUnits($number) {
    @return $number / ($number * 0 + 1);
}

//Import all sub-scss files
@import 'app/**/*';
