$size-comments-arrow: 13px;
$size-comments-header: 28px;
$size-comments-input: 20px;
$size-comments-padding: 10px;
$size-comments-left: $size-comments-arrow;
$size-comments-width: 155px;
$color-comments-background: #332f2b;

.comments-bubble {
    @include vend(border-radius, 10px);
    position: absolute;
    display: inline-block;
    top: $navbar-height + $size-comments-arrow;
    height: auto;
    max-height: calc(100vh - #{$navbar-height + $size-comments-arrow*2});
    left: $size-comments-left;
    width: $size-comments-width;
    padding: $size-comments-padding;
    font-weight: 100 !important;
    color: $goofy-yellow;
    background-color: $color-comments-background;
    cursor: default;
    
    &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 $size-comments-arrow $size-comments-arrow;
        border-color: $color-comments-background transparent;
        display: block;
        width: 0;
        z-index: 1;
        top: -$size-comments-arrow;
        left: ($size-comments-width - $size-comments-left - $size-comments-arrow)/2;
    }

    .comments-list {
        max-height: calc(100vh - #{$navbar-height + $size-comments-arrow*2 + $size-comments-padding*2 + $size-comments-header + $size-comments-input});
        overflow-y: scroll;
    }

    .comments-header {
        font-size: 95%;
        height: $size-comments-header;
    }

    .comments-ind {
        font-size: 85%;
    }

    .comments-input {
        height: $size-comments-input;
    }

    .floating-form,
    .floating-form:focus {
        @include vend(box-shadow, none);
        background-color: rgba(0,0,0,0);
        border: 0;
        border-bottom: 1px solid $goofy-yellow;
        border-radius: 0;
        width: 100%;
        outline: none;
        transition: 0.1s ease-in-out;
    }

    &.ng-enter {
        opacity: 0;
        transition: 0.3s ease-in-out;
    }

    &.ng-enter-active {
        opacity: 1;
    }
}
