<div class="comments-bubble" ng-if="commentsShowing">
    <div class="comments-header">What do you think?</div>
    <ul class="comments-list">
        <li class="comments-ind" ng-repeat="comment in comments">{{comment.text}}<br>
            <div class="text-right">-{{comment.author}}</div>
        </li>
    </ul>
    <input class="comments-input floating-form" ng-blur="newComment.text.length && addComment(newComment.text)" ng-keyup="$event.keyCode == 13 ? newComment.text.length && addComment(newComment.text) : null" ng-model="newComment.text" placeholder="let me know here :)" type="text"></input>
</div>
