body {
  margin: 0px;
}

li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

.job-circles {
  background-color: green;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


#logodiv{
  padding-top: 6px;
  padding-right: 10px;
  color: grey;
  font-family: Arial,Helvetica,freesans,sans-serif;
  font-size: 26px;
}
#nav {
    background-color: #FAFAFA;
    position: fixed;
}
#nav_wrapper {
    width: 1500px;
    margin: 0 auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
}
#nav ul li {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
}
#nav ul li:hover {
    background-color: "light grey";
}
#nav ul li a, visited {
    color: #CCC;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    border-top: 0;
    margin-left: -5px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: "lightgrey";
}


.floatleft {
  float: left;
}


text {
  font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

#searchdiv {
  position: relative;
  padding: 6px 0 0 6px;
  color: "lightgrey";
}

#searchdiv input{
  height: 20px;
  border: none;
  padding-left: 10px;
  font-size: 0.9em;
  color: "lightgrey";
  background-color: transparent;
}